.FoodPage {
  min-height: calc(100vh - 125px);
  background-size: cover;
}
h4 {
  color: var(--green01);
}
p {
  font-size: 1.1rem;
}
.num {
  font-size: 3rem;
  margin: 0;
}
.num ~ p {
  font-size: 1.3rem;
}
.step {
  font-weight: 600;
}
.enjoy {
  font-family: cursive;
}
.food-img {
  width: calc(100vw - 30px);
}
@media only screen and (min-width: 800px) {
  .FoodPage {
    margin-top: 60px;
  }
  .food-img {
    width: 100%;
  }
}
